*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    background: linear-gradient(0deg, rgba(40, 17, 61, 0.99),rgba(37, 18, 207, 0.5)), url("..//Images/me-eyeglass.png");
    background-position: center;
    background-size: cover;
    margin-left: -11px;
    margin-right: -11px;
    max-width: 1944px;
    height: 955px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
#eyeglass{
    width: 200px;
    height: 215px;
    border-radius: 118px;
    margin-top: 30px;
    box-shadow:0px 2px 2px 3px white;
}
.Jerry{
    text-transform: uppercase;
    font-size: 10vh;
    font-weight: 800;
}
.main{
    text-align: center;
}
.main h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    color: white;
}
.main p{
    font-size: 19px;
    font-weight: 400;
}
.Cv{
    background: gold;
    color: white;
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 13px;
}
.Me{
    border: 2px solid goldenrod;
    border-radius: 30px;
    color: white;
    padding: 10px 25px;
    margin-top: 13px;
}
.fa-facebook{
    border: 2px solid goldenrod;
    border-radius: 30px;
    font-weight: 600;
}
.fa-envelope-o{
    border: 2px solid goldenrod;
    border-radius: 30px;
    font-weight: 600;
}
.fa-twitter{
    border: 2px solid goldenrod;
    border-radius: 30px;
    font-weight: 600;
}
.fa-instagram{
    border: 2px solid goldenrod;
    border-radius: 30px;
    font-weight: 600;
}
.fa-whatsapp{
    border: 2px solid goldenrod;
    border-radius: 30px;
    font-weight: 600;
}
.per{
   border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
}
.dom{
    border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
}
.dom:hover{
    outline:gold;
}
.bri{
    border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
}
.ric{
    border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
}
.des{
    border-radius: 120px;
    box-shadow: 0px 3px 3px 4px gray;
}
.mom{
    border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
}
.dad{
    border-radius: 120px;
   box-shadow: 0px 3px 3px 4px gray;
   width: 350px;
   height: auto;
}
.card-wp{
    width: 290px;
    height: auto;
    box-shadow: 10px 20px 20px 4px  rgb(4, 69, 95);
}
.card-vp{
    width: 200px;
    height: 411px;
    box-shadow: 10px 20px 20px 4px  gray;
}
.about{
    background: linear-gradient(0deg, rgba(50, 30, 70, 0.99),rgba(116, 31, 150, 0.5)), url("..//Images/level.jpg");
    background-position: center;
    background-size: cover;
    max-width: 1445px;
    height: 400px;
    margin-left: -12px;
    margin-right: -12px;
}
.foot{
    max-width: 1449px;
    height: 500px;
    background: url("..//Images/Jerry-j.png");
    background-position: center;
    background-size: auto;
    margin-left: -12px;
    margin-right: -12px;
}
.cont{
    background: linear-gradient(0deg, rgba(40, 17, 61, 0.99),rgba(37, 18, 207, 0.5)), url("..//Images/me-eyeglass.png");
    background-position: center;
    background-size: cover;
    margin-left: -12px;
    margin-right: -12px;
    height: 200px;
    max-width: 1544px;
}
.card-tp{
    width: 200px;
    height: auto;
    box-shadow: 10px 20px 20px 4px  gray;
}
.card-zp{
    box-shadow: 10px 20px 20px 4px  gray;
}
#viper{
    box-shadow: 5px 15px 15px 10px rgb(150, 167, 223);
}
.self{
    border: 1px solid gray;
    padding: 10px;
}
.self:hover{
    box-shadow: 1px 1px 1px 4px grey;
    color:rgb(78, 30, 210);
}
.offcanvas{
    background: darkgray;
    font-weight: 500;
    width: 400px;
    height: auto;
    color: white;
}
#img3s{
    animation:Jerry 1s infinite;
}
@keyframes Jerry{
    0%{
      transform: scale(1);
    }
    15%{
      transform: scale(1.25);
    }
    25%{
      transform: scale(1.15);
    }
    35%{
      transform: scale(1.25);
    }
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
   }


@media (max-width: 769px){
    .navbar{
        margin-right: 10px;
    }
    .relate-info h1 p{
        font-weight: 600;
    }
    .Jerry{
        font-size: 40px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .card-tp{
        width: auto;
        height: auto;
       }
   .card-wp {
    width: auto;
    height: auto;
   }  
   .card-zp{
    width: auto;
    height: auto;
   }
   #small{
     width:50px;
     height:auto;
   }
   #viper{
    width: 400px;
    height: auto; 
    margin-left: 20px;
    padding-bottom: 14px;
   }
   #vipe{
    width: 400px;
    color: gold;
    margin-left: 20px;
    padding-bottom: 14px;
   }
   #vipre{
    width: 100%;
    height: auto;
    margin-left: 40px;
    padding-bottom: 14px;
   }
   .vision{
    display: block;
   }
   .offcanvas{
        /* background: gray; */
        background: linear-gradient(0deg, rgba(40, 17, 61, 0.99),rgba(37, 18, 207, 0.99)), url("..//Images/me-eyeglass.png");
        background-position: center;
        background-size: cover;
        font-weight: 800;
        color: black;
        }
   
}
@media (max-width:440px){
    .cross{
        width: 300px;
    }
    #vipre{
        margin-left: 55px;
        box-shadow: 10px 14px 14px 20px gold;
    }
    #viper{
        margin-left: 26px;
        box-shadow: 10px 25px 25px 30px gold;
    }
    #vipe{
        box-shadow: 10px 15px 15px 22px gold;
    }
}